# **Actividad 1. Funciones y tipos de variables.**

In [6]:
import pandas as pd

In [7]:
# CARGAR EL ARCHIVO CSV
df = pd.read_csv('census_income.csv')

In [22]:
# MOSTRAR EL ARCHIVO CARGADO
print(df.head())

   Unnamed: 0  age         workclass  fnlwgt  education  education-num  \
0           0   39         State-gov   77516  Bachelors             13
1           1   50  Self-emp-not-inc   83311  Bachelors             13
2           2   38           Private  215646    HS-grad              9
3           3   53           Private  234721       11th              7
4           4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country income
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K

# 1.Identificación Del tipo De Variables

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      48842 non-null  int64
 1   age             48842 non-null  int64
 2   workclass       47879 non-null  object
 3   fnlwgt          48842 non-null  int64
 4   education       48842 non-null  object
 5   education-num   48842 non-null  int64
 6   marital-status  48842 non-null  object
 7   occupation      47876 non-null  object
 8   relationship    48842 non-null  object
 9   race            48842 non-null  object
 10  sex             48842 non-null  object
 11  capital-gain    48842 non-null  int64
 12  capital-loss    48842 non-null  int64
 13  hours-per-week  48842 non-null  int64
 14  native-country  48568 non-null  object
 15  income          48842 non-null  object
dtypes: int64(7), object(9)
memory usage: 6.0+ MB

# 2.Cantidad De Valores.

In [13]:
# Itera sobre las columnas y cuenta la cantidad de valores
for columna in df.columns:
    cantidad_valores = df[columna].count()
    print(f"Columna: {columna}, Cantidad de valores: {cantidad_valores}")

Columna: Unnamed: 0, Cantidad de valores: 48842
Columna: age, Cantidad de valores: 48842
Columna: workclass, Cantidad de valores: 47879
Columna: fnlwgt, Cantidad de valores: 48842
Columna: education, Cantidad de valores: 48842
Columna: education-num, Cantidad de valores: 48842
Columna: marital-status, Cantidad de valores: 48842
Columna: occupation, Cantidad de valores: 47876
Columna: relationship, Cantidad de valores: 48842
Columna: race, Cantidad de valores: 48842
Columna: sex, Cantidad de valores: 48842
Columna: capital-gain, Cantidad de valores: 48842
Columna: capital-loss, Cantidad de valores: 48842
Columna: hours-per-week, Cantidad de valores: 48842
Columna: native-country, Cantidad de valores: 48568
Columna: income, Cantidad de valores: 48842

# 3.Cantidad De Valores Distintos.

In [17]:
#Definicion de valores unicos

cantidad_valores_u = df.nunique()
print(cantidad_valores_u)

Unnamed: 0        48842
age                  74
workclass             9
fnlwgt            28523
education            16
education-num        16
marital-status        7
occupation           15
relationship          6
race                  5
sex                   2
capital-gain        123
capital-loss         99
hours-per-week       96
native-country       42
income                4
dtype: int64

# 4.Cantidad De Valores Nulos.

In [12]:

for columna in df.columns:
    valores_nulos = df[columna].isnull().sum()
    print(f"Columna: {columna}, Valores nulos: {valores_nulos}")

Columna: Unnamed: 0, Valores nulos: 0
Columna: age, Valores nulos: 0
Columna: workclass, Valores nulos: 963
Columna: fnlwgt, Valores nulos: 0
Columna: education, Valores nulos: 0
Columna: education-num, Valores nulos: 0
Columna: marital-status, Valores nulos: 0
Columna: occupation, Valores nulos: 966
Columna: relationship, Valores nulos: 0
Columna: race, Valores nulos: 0
Columna: sex, Valores nulos: 0
Columna: capital-gain, Valores nulos: 0
Columna: capital-loss, Valores nulos: 0
Columna: hours-per-week, Valores nulos: 0
Columna: native-country, Valores nulos: 274
Columna: income, Valores nulos: 0

# 5.Informe.

#### Con esta función se crea automanticamente un informe con la table df que calcula la totalidad de las siguientes variables:
#### 1.Contar
#### 2.Media
#### 3.Desviación
#### 4.Minimo
#### 5.Cuartiles
#### 6.Maximo

In [21]:
df.describe()

,Unnamed: 0,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,24420.500000,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,14099.615261,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,0.000000,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,12210.250000,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,24420.500000,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,36630.750000,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,48841.000000,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000