# **Actividad 2. Programa con IF para la limpieza de datos.**

In [15]:
import pandas as pd

# Carga un archivo CSV en un DataFrame
df = pd.read_csv('titanic.csv')

# Muestra las primeras filas
print(df.head())

   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
2  female  26.0                        0                        0   7.9250
3  female  35.0                        1                        0  53.1000
4    male  35.0                        0                        0   8.0500


## *1.Identificación Del tipo De Variables Iniciales.**

In [16]:
## Datos Variables iniciales
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB

## *2.Limpieza de datos*

In [18]:
# Aproximar al valor más cercano la edad de los pasajeros eliminando los decimales, adicional sacar un resumen.

df['Age'] = df['Age'].astype(int)
print(df['Age'])

0      22
1      38
2      26
3      35
4      35
       ..
882    27
883    19
884     7
885    26
886    32
Name: Age, Length: 887, dtype: int32

In [14]:
# Creación de una columna que contenga la sumatoria de "Siblings/Spouses Aboard" y "Parents/Children Aboard" con el fin de totalizar la cantidad de familiares.

df['Familiares totales'] = df['Siblings/Spouses Aboard'] + df['Parents/Children Aboard']
print(df.head())

   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
2         1       3                              Miss. Laina Heikkinen
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
4         0       3                            Mr. William Henry Allen

      Sex  Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare  \
0    male   22                        1                        0   7.2500
1  female   38                        1                        0  71.2833
2  female   26                        0                        0   7.9250
3  female   35                        1                        0  53.1000
4    male   35                        0                        0   8.0500

   Familiares totales
0                   1
1                   1
2                   0
3                   1
4                   0

## *3.Informe.*

#### Con esta función se crea automanticamente un informe con la table df que calcula la totalidad de las siguientes variables:
#### 1.Contar
#### 2.Media
#### 3.Desviación
#### 4.Minimo
#### 5.Cuartiles
#### 6.Maximo

In [19]:
df.describe()

,Survived,Pclass,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
count,887.000000,887.000000,887.000000,887.000000,887.000000,887.00000
mean,0.385569,2.305524,29.455468,0.525366,0.383315,32.30542
std,0.487004,0.836662,14.129919,1.104669,0.807466,49.78204
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.00000
25%,0.000000,2.000000,20.000000,0.000000,0.000000,7.92500
50%,0.000000,3.000000,28.000000,0.000000,0.000000,14.45420
75%,1.000000,3.000000,38.000000,1.000000,0.000000,31.13750
max,1.000000,3.000000,80.000000,8.000000,6.000000,512.32920